name: CI/CD Pipeline

 on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install dependencies for front-end
      run: |
        cd front
        npm install

    - name: Install dependencies for back-end
      run: |
        cd back
        mvn clean install

    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image for front-end
      uses: docker/build-push-action@v2
      with:
        context: ./front
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/bobapp-front:latest

    - name: Build and push Docker image for back-end
      uses: docker/build-push-action@v2
      with:
        context: ./back
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/bobapp-back:latest
