name: Front-end CI/CD with coverage report, SonarCloud analysis & Docker image

on:
  push:
    branches:
      - develop
    paths:
      - 'front/**'

  pull_request:
    branches:
      - main

jobs:
  # 1. Validates tests on a pull request
  frontend-testing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set Up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install Dependencies and Run Tests
        working-directory: front
        run: |
          npm install
          npx ng test --watch=false --code-coverage --browsers=ChromeHeadless

      - name: Upload Code Coverage Report
        uses: actions/upload-artifact@v3
        with:
          name: coverage-report
          path: front/coverage/

  # 2. Code quality verification with SonarCloud and Docker build
  sonarcloud-analysis:
    needs: frontend-testing
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set Up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          projectBaseDir: front
          args: >
            -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }}-front
            -Dsonar.organization=${{ secrets.SONAR_ORGANIZATION }}
            -Dsonar.token=${{ secrets.SONAR_TOKEN }}
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_PROJECT_KEY: ${{ secrets.SONAR_PROJECT_KEY }}
          SONAR_ORGANIZATION: ${{ secrets.SONAR_ORGANIZATION }}
  # 4. Docker build and push
  docker-build-and-push:
    needs: sonarcloud-analysis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build and Push Docker Image
        run: |
          docker build -t bobapp-front ./front
          docker tag bobapp-front ${{ secrets.DOCKER_USERNAME }}/bobapp-front:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/bobapp-front:latest
